USE [master]
GO
/****** Object:  Database [Кир прак 3]    Script Date: 17.05.2023 12:39:09 ******/
CREATE DATABASE [Кир прак 3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Практика3', FILENAME = N'D:\Практика3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Практика3_log', FILENAME = N'D:\Практика3_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Кир прак 3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Кир прак 3]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код_заказа] [float] NULL,
	[Дата_создания] [datetime] NULL,
	[Время_создания] [datetime] NULL,
	[Код_клиента] [float] NULL,
	[Статус] [nvarchar](255) NULL,
	[Дата_закрытия] [datetime] NULL,
	[Время_проката] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](255) NULL,
	[Код клиента] [float] NULL,
	[Паспортные данные] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код_роли] [int] NOT NULL,
	[Наименнование_роли] [nvarchar](20) NOT NULL,
	[Код_сотрудника] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](255) NULL,
	[ФИО ] [nvarchar](255) NULL,
	[Логин ] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний вход] [nvarchar](255) NULL,
	[Тип входа] [nvarchar](255) NULL,
	[Код роли] [int] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID] [float] NULL,
	[Наименование услуги] [nvarchar](255) NULL,
	[Код услуги] [nvarchar](255) NULL,
	[Стоимость, руб#  за час ] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 17.05.2023 12:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[Код_чека] [int] NULL,
	[Код_заказа] [int] NULL,
	[Код_Услуги] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (1, CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 45462526, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (2, CAST(N'2022-03-13T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:10:00.000' AS DateTime), 45462527, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (3, CAST(N'2022-03-14T00:00:00.000' AS DateTime), CAST(N'1899-12-30T11:10:00.000' AS DateTime), 45462528, N'В прокате', NULL, N'2 часа')
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Роли] ([Код_роли], [Наименнование_роли], [Код_сотрудника]) VALUES (11, N'Продавец', 101)
INSERT [dbo].[Роли] ([Код_роли], [Наименнование_роли], [Код_сотрудника]) VALUES (12, N'Продавец', 102)
INSERT [dbo].[Роли] ([Код_роли], [Наименнование_роли], [Код_сотрудника]) VALUES (13, N'Администратор', 103)
GO
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 101', N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', N'Успешно', 11)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 102', N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', N'Успешно', 12)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 103', N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', N'Успешно', 13)
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (336, N'Прокат коньков', N'8HFJHG443', 1200)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (353, N'Заточка коньков', N'87FDJKHJ', 500)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (31, N'Прокат опорного оборудования для катка', N'JUR8R', 500)
GO
INSERT [dbo].[Чек] ([Код_чека], [Код_заказа], [Код_Услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Чек] ([Код_чека], [Код_заказа], [Код_Услуги]) VALUES (2, 1, 31)
INSERT [dbo].[Чек] ([Код_чека], [Код_заказа], [Код_Услуги]) VALUES (3, 1, 353)
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Роли] FOREIGN KEY([Код роли])
REFERENCES [dbo].[Роли] ([Код_роли])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Роли]
GO
USE [master]
GO
